.credits{
    width:100vw;
    height:100vh;
    background:#110A0B;
}
.credits main{
    position:relative;
    width:100vw;
    height:100vh;
    background:url('../../Images/bosque-creditos.png') no-repeat center center;
    background-size:cover;
}
.credits main .main-title {
    text-align: center;
    position:absolute;
    top:15vh;
    left:20vw;
}
.credits main .main-title h1,h2{
    margin:0px;
    font-size:3em;
    color:#C2A573;
    font-family: 'BasquiatRegular';
}
.credits main .subtitle {
    position:absolute;
    top:45vh;
    left:23vw;
}
.credits main .subtitle p{
    text-align: center;
    margin:0px;
    font-size:1.5em;
    color:grey;
    font-family: 'Montserrat';
}
.credits main h3{
    text-align: center;
    margin:0px;
    font-size:1.5em;
    color:#C2A573;
    font-family: 'BasquiatRegular';
    position:absolute;
    bottom:10vh;
    left:25vw;
}

.credits main .descargar-leyenda{
    position:absolute;
    bottom:10vh;
    right:3vw;
    text-align: center; 
}
.credits main .descargar-leyenda h4{
    text-align: center;
    margin:0px;
    font-size:1.2em;
    color:#fff;
    font-family:'Montserrat';
    font-weight:300;
    padding-bottom:15px;
}
.credits main .descargar-leyenda a{
    text-decoration: none;
    font-family: 'BasquiatRegular';
    margin:0px;
    font-size:1.5em;
    color:#C2A573;
}
.credits main .descargar-leyenda a:hover{
    color:grey;
}

