@import "../../Fonts/typography.css"; 

.scene-2{
    width:100vw;
    height:100vh;
    background:#110A0B;
}
.scene-2 main{
    width:100vw;
    height:100vh;
    background:url('../../Images/interior-desktop.png') no-repeat center center;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    --animate-duration: 5s;
    position:relative;
}

.oshun-scene-2{
    position:absolute;
    bottom:0;
    right:30px;
    z-index:20;
}

.oshun-scene-2 img{
    width:60vw;
}

.diosa-scene-2{
    position:absolute;
    top:0;
    right:50px;
    z-index:10;
    animation-name:floating;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-play-state: running;
}

.diosa-scene-2 img{
    width:38vw;
}


.scene-2-textblock-user img{
    position:absolute;
    bottom:50px;
    left:70px;
    width:38vw;
    opacity:0.8;
}

.scene-2-textblock-user .answer-user{
    position:absolute;
    bottom:13vh;
    left:5vw;
    text-align:left;
    width:27vw;
    margin:auto;
    z-index:15;
}

button{
    text-align:left;
    font-family:'BasquiatRegular';
    font-weight:400;
    font-size:2em;
    margin-top:20px;
    margin-left:25px;
    background:rgba(0,0,0,0);
    color:#110A0B;
    border:0px;
    width:100%;
    cursor:pointer;
}
button:focus{
    outline:none;
}
button:hover{
    outline:none;
    color:#7F6740;
}
button:active{
    outline:none;
}

.scene-2-textblock-oshun{
    position:absolute;
    top:13vh;
    left:33vw;
    text-align:center;
    width:27vw;
    font-family:'BasquiatRegular';
    margin:auto;
    color:#F5E2B0;
    font-size:1em;
}

.popup-pocima{
    position:fixed;
    top:17vh;
    left:35vw;
    z-index:30;
    background:#959595;
    padding:30px;
    height:auto;
    width:35%;
    text-align:center;
    vertical-align: auto;
    --animate-duration: 1.5s;
    -webkit-box-shadow: 0px 10px 24px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 24px 3px rgba(0,0,0,0.75);
box-shadow: 0px 10px 24px 3px rgba(0,0,0,0.75);
}

.popup-pocima h5{
    color:#fff;
    font-size:1.5em;
    font-family: 'BasquiatRegular';
}
.popup-pocima img{
    position:relative;
    top:0px;
    left:0px;
    width:10vw;
    margin:15px 0px;
}
.popup-pocima p{
    color:#fff;
    font-size:1em;
    padding:20px 55px;
    font-family: 'Montserrat';
    font-weight:400;
}
.popup-pocima button{
    text-align:center;
    margin:0px;
}



@media(max-height: 760px){

}

@media(max-width: 414px){
    .scene-2 main{
        background:url('../../Images/interior-mobile.png') no-repeat center left;
        background-size:cover;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .oshun-scene-2{
        position:absolute;
        bottom:0;
        right:30px;
        z-index:20;
    }

    .oshun-scene-2 img{
        width:400px;
        position:absolute;
        bottom:0;
        right:-120px;
    }
    
    .diosa-scene-2{
        position:absolute;
        bottom:0;
        right:10px;
        z-index:10;
        animation-name:floating-mobile;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-duration: 2s;
        animation-play-state: running;
    }
    .diosa-scene-2 img{
        width:300px;
        position:absolute;
        bottom:60px;
        right:-90px;
    }
}



@keyframes floating {
    0%{
        top:70px;
    }
    100%{
        top:30px;
    }
}

@keyframes floating-mobile {
    0%{
        bottom:40px;
    }
    100%{
        bottom:70px;
    }
}