
@import "../../Fonts/typography.css";

@media(max-width: 414px){

    .home img{
        width:310px;
        margin-top:10px;
    }

    .home label{
        font-size:16px;
    }
    .home input{
        text-align:center;
        background:rgba(0,0,0,0);
        border:0px;
        color:#E2E2E2;
        border-bottom:2px solid #C2A573;
        height:30px;
        font-family:'Montserrat';
        font-weight:300;
        font-size:16px;   
    }
}