@import "../../Fonts/typography.css"; 

.scene-1{
    width:100vw;
    height:100vh;
    background:#272626;
}
.scene-1 main{
    width:100vw;
    height:100vh;
    background:url('../../Images/figuras-homeAsset.png') no-repeat center center;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    --animate-duration: 5s;
}

.scene-1-dialog{
    font-family:'BasquiatRegular';
    margin:0px;
    color:#F5E2B0;
    font-size:30px;
}

#dialog-1{
    --animate-duration: 4s;
}
#dialog-2{
    --animate-duration: 4s;
}

.scene-1-textblock{
    text-align: right;
    margin-top:20px;
    margin-bottom:50px;
    margin-right:3%;
}
.scene-1-textblock button{
    text-align:right;
    font-family:'BasquiatRegular';
    font-weight:400;
    font-size:24px;
    margin-top:20px;
    background:rgba(0,0,0,0);
    color:#C2A573;
    border:0px;
    padding:10px 5px;
    cursor:pointer;
}
.scene-1-textblock button:focus{
    outline:none;
}
.scene-1-textblock button:active{
    outline:none;
}



/*ARREGLOS PARA PANTALLAS CORTAS*/

@media(max-height: 760px){
    .scene-1-dialog{
        font-size:24px;
    }
    .scene-1-textblock{
        margin-top:20px;
        margin-bottom:25px;
    }
    .scene-1-textblock button{
        font-size:20px;
        margin-top:5px;
    }
}


